<% provide(:title, "About") %>

<div class="container">
<h1>OKURI MORI（おくりもり）って？</h1>
  <div class="image">

  </div>

  <div class="simple_text">


      <p>OKURI MORIにあそびにきてくれて、ありがとうございます。
        <br>
        OKURI MORIは、おくりもの＝プレゼントを管理するサイトです。
        <br>
        <br>
        たとえば、
        <br>
        毎年母の日にプレゼントをしているけど
        <br>
        去年は何を贈ったっけ…？おととしは…？
        <br>
        なんて、困ったことはありませんか？
        <br>
        <br>
        OKURI MORIは、「誰に」「いつ」「何を」贈ったのかを記録できます。
        <br>
        <br>
        おくりものは、相手への感謝やお祝いといった気持ちがこもったもの。
        <br>
        そんな素敵な記録をどんどんつけて、
        <br>
        あなただけのおくりものの木を育ててください。
        <br>

      </p>
  </div>


</div>
