<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      エラー！入力内容をご確認ください。
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
