<footer class= "footer">
  <small>
  OKURI MORI -おくりもり- </a>
    by Natsumi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
